<!-- 
	All templates represent the View layer.
	
	These are the pieces that build the things
	that get rendered in the browser.
	
	This is what your user will see/interact with.
	
	!DON'T FORGET SEMANTIC MARKUP!
 -->
 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${review.title}">Review of Cars</title>
	<!-- Do something useful with the review's identifier -->
</head>
<body>
	<header>
		<h1 th:text="${review.title}">Review</h1><!-- Name of the Review -->
		<nav>
			<ul>
				<li><a href="/reviews">Reviews</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h3 th:text="${review.content}">Below you will find Each Car Review</h3><!-- content stuff -->

		<h4 th:text="${review.bodyType}">This is a description of each car's bodytype</h4>
		<h4 th:text="${review.bodyCategory}">This is a description of the categories</h4>


		<img th:src="@{|/images/${review.imageurl}|}">
	</main>

	<footer>
		<small>&copy; WCCI 2018</small>
	</footer>
</body>
</html>