<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>RANDOMLY AWESOME CAR REVIEWS</title>
</head>
<body>

<header>
		<h1>Reviews</h1>
		<nav>
			<ul>
				<li><a href="/reviews">Some Reviews of Randomly Awesome Cars</a></li>
			
			<p>These are random cars made in the U.S. and Japan. When you're starting out, you need a new, cheap car.</p>
			
				<li th:each="review : ${reviews}"><a th:href="|/review/${review.id}|" th:text="${review.title}"></a></li>
			</ul>
		</nav>
	</header>
	<main>
	</main>

	<footer>
		<small>&copy; WCCI 2018</small>
	</footer>

</body>
</html>